.room-list__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.room-list__title {
  flex: 0 1 auto;
}

.room-list__grid_view {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 555px));
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 30px;
  padding: 30px;
}

.room-list__listing-card {
  box-shadow: rgb(0 0 0 / 10%) 1px 4px 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.room-list__listing-card:hover {
  cursor: pointer;
}

.room-list__listing-card__img-aspect-ratio-box {
  position: relative;
}

.room-list__listing-card__img-aspect-ratio-box::after {
  display: block;
  content: "";
  padding-bottom: 56.25%;
}

.room-list__listing-card__image {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.room-list__listing-card-info-section {
  margin: 10px;
}

.room-list__listing-card-info-section__room-name {
  font-weight: bold;
}

.room-list__page-stepper__wrapper {
  display: flex;
  height: 100px;
  flex: 0 1 auto;
}

.room-list__page-stepper__container  {
  display: flex;
  align-items: center;
  margin: auto;
  padding-bottom: 20px;
}

.room-list__page-stepper__previous-btn {
  width: 20px;
  height: 20px;
}

.room-list__page-stepper__previous-btn:hover {
  cursor: pointer;
}

.room-list__page-stepper__next-btn {
  width: 20px;
  height: 20px;
}
.room-list__page-stepper__next-btn:hover {
  cursor: pointer;
}

.room-list__page-stepper__page {
  width: 24px;
  height: 24px;
  padding: 2px;
}

.room-list__page-stepper__page.selected {
  width: 24px;
  height: 24px;
  padding: 2px;
  color: white;
  background: rgb(18, 153, 236);
  border-radius: 5px;
}

.room-list__page-stepper__page:hover {
  cursor: pointer;
}

.room-list__page-stepper__spacer {
  width: 10px;
}

